argparse
backcall
certifi
cffi
charset-normalizer
click
dataclasses
decorator
docker-pycreds
gitdb
gitpython
idna
importlib-metadata
importlib-resources
ipdb
ipython
jedi
kornia
numpy
olefile
packaging
parso
pathtools
pexpect
pickleshare
pillow
pip
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pyaml
pyasn1
pycparser
pygments
pyparsing
pyyaml
requests
sentry-sdk
setproctitle
setuptools
shortuuid
six
smmap
toml
tqdm
traitlets
typing-extensions
urllib3
wandb
wcwidth
wheel
zipp
